.App {
  text-align: center;
}
.summary-card {
  background-color: #333939;
  border-radius: 12px;
  color: white;
  padding: 20px;
  width: 1400px;
  height: 1080px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.summary-title{
  background-color: #303434;
  font-size: 1.0em;
  margin-bottom: 10px;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0.2, 0.2, 0.2, 0.2);
  display: grid;
  padding: 10px;
  border-radius: 8px;
  max-height: 1050px;
  width: 1350px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: fit-content;
}
.summary-icon {
  font-size: 40px;
  margin-right: 10px;
}
.summary-card-container {
  display: inline-grid;
 
  
  

  
}
.chart-card{
  background-color: #1a1a1a;
  border-radius: 10px;
  padding: 1rem;
  color: white;
  height: 100%;        /* Adjust as needed */
  overflow: hidden; /* Hide overflow */
  position: relative;
  width: 100%;
  margin: 20px;
  box-sizing: border-box;
}
.dashboard-charts-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  height: 825px
} 
#card-headers{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 40px
}
.summary-content h3{
  margin: 0;
  font-size: 1.2em;
}
.summary-content p {
  margin: 0;
  font-size: 1.4em;
  font-weight: bold;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
